.container {
  width: 100%;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.paragraph {
  font-size: 1.7rem;
  color: var(--white);
}
em {
  font-style: normal;
  font-weight: 700;
}
