.container {
  display: flex;
  flex-direction: column;
}

.disclaimer {
  font-size: 1rem;
  color: var(--grey);
}

a {
  font-style: normal;
  font-weight: 700;
  color: var(--red);
  text-decoration: none;
}
