.App {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 2rem;
  background-image: url("./assets/bg-intro-desktop.png");
  background-color: var(--red);
}
@media (max-width: 575px) {
  .App {
    background-image: url("./assets/bg-intro-mobile.png");
    background-size: cover;
    background-position: center;
    height: 100%;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}
