body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 62.5%;
}
:root {
  --purple: rgb(74, 62, 146);
  --white: rgb(255, 255, 255);
  --green: rgb(50, 197, 119);
  --green-light: rgb(57, 224, 135);
  --green-dark: rgb(46, 189, 113);
  --red: rgb(252, 97, 101);
  --grey: rgb(185, 182, 199);
}
