.card {
  border-radius: 1rem;
  box-shadow: 0 1rem rgba(0, 0, 0, 0.294);
}

.white {
  background-color: var(--white);
  padding: 4rem 4rem;
}

.blue {
  background-color: var(--purple);
  padding: 2rem 4rem;
  margin-bottom: 3rem;
}
@media (max-width: 916px) {
  .white {
    padding: 3rem 3rem;
  }
}
@media (max-width: 445px) {
  .white {
    padding: 2rem 2rem;
  }
}
@media (max-width: 575px) {
  .blue {
    margin-bottom: 3rem;
  }
}
